body {
    background: #111;
}

.server-log {
    @extend .list-unstyled;
    @extend .m-0;
    &-container {
        @extend .p-1;
        @extend .container;
        @extend .position-relative;
        overflow-y: hidden;
        height: 100vh;
    }
    & > li {
        @extend .text-monospace;
        @extend .text-white;
        @extend small;
    }
}