<!doctype html>
<html lang="en">

<head>
    <title>Huddlr - World chat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/worldRoom.bundle.css">
</head>

<body>
    <div class="container-fluid" style="padding: 0">
        <div class="row">
            <div class="sidebar">
                <div class="profile">
                    <h6 class="profile-name">{{ name }}</h6>
                    <i class="fas fa-circle fa-xs text-success ml-2"></i>
                    <form action="/disconnect" class="signout" method="post">
                        <input type="hidden" name="room" value="world">
                        <button type="submit" class="signout-btn" data-toggle="tooltip" title="Disconnect from room"><i
                                class="fas fa-sign-out-alt text-danger"></i></button>
                    </form>
                </div>
                <div class="p-4">
                    <strong>Online users</strong>
                </div>
                <div id="user-list-container">
                    <ul class="user-list">
                        {{#users}}
                        <li id="{{elementID}}" style="color: rgba(0,0,0,.5)"><i class="fas fa-xs fa-circle mr-3" style="color:{{color}}"></i>{{name}}</li>
                        {{/users}}
                    </ul>
                </div>
                <div class="room-name">
                    <i class="fas fa-globe mr-3"></i>WORLD CHAT
                </div>
            </div>
            <div class="chat-window col-sm-9">
                <div class="chat-container">
                    <button class="chat-scroll-bottom hidden" type="button">
                        <i class="fas fa-arrow-down fa-sm"></i>
                    </button>
                    <div class="chat-bubble-wrapper" id="chat-container">

                    </div>
                </div>
                <form action="" class="chat-form">
                    <div class="chat-input-group">
                        <input type="text" class="chat-msg" placeholder="Enter your message here..." aria-label="Enter your message here..."
                            aria-describedby="chat-send" maxlength="255">
                        <span data-toggle="modal" data-target="#fileModal">
                            <button class="chat-file" type="button" data-toggle="tooltip" title="Upload file"><i class="fas fa-paperclip"></i></button>
                        </span>
                        <div class="input-group-append">
                            <button class="chat-send" type="button">Send <i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="fileModalTitle">Send a file</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" class="file-input" data-max-file-size="25M" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" id="sendFile">Send</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/worldRoom.bundle.js"></script>
</body>

</html>